<div class="container">

<h1> Product List Page </h1><br><br><br>

<h2>Filtered Data</h2>
<button type="button" class="btn btn-primary">Show Image</button>


<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
        <tr>
            <th>Product</th>
            <td>Code</td>
            <td>Available</td>
            <td>Price</td>
            <td>Rating</td>
    
          </tr>
      <tr>
        <th scope="row">Laef Rake</th>
        <td>GDN-0011</td>
        <td>March 19,2016</td>
        <td>19.95</td>
        <td>3.5</td>

      </tr>
      <tr>
        <th scope="row">Garden cart</th>
        <td>GDN-0023</td>
        <td>March 18,2016</td>
        <td>32.99</td>
        <td>4.2</td>
      </tr>
      <tr>
        <th scope="row">Hammer</th>
        <td>TBX-0048</td>
        <td>MAY 21, 2016</td>
        <td>8.9</td>
        <td>4.8</td>

      </tr>
      <tr>
        <th scope="row">Saw</th>
        <td>TBX-0022</td>
        <td>MAY 15, 2016</td>
        <td>11.55</td>
        <td>3.7</td>

      </tr>
      <tr>
        <th scope="row">Video Game Controller</th>
        <td>GMG-0042</td>
        <td>October 15, 2016</td>
        <td>35.95</td>
        <td>4.6</td>

      </tr>
    </tbody>
  </table>
</div>
<!-- 
<td [class.inStock]="false">
  {{ product.price}}
</td> -->

  

